.profile-block {
  overflow: hidden;
  i {
    margin: 40px 0;
    font-size: 7rem;
    display: block;
    color: #ff5252;
  }
}

#profile-img{
   width: 200px;
   height: 200px;
   display : block;
   margin: 50px auto;
 }